body {
    color: #F6F1F1;
    background-color: #6f92a3;
}
#container{
    width: 400px;
    height: 350px;
    margin: auto ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 5px solid black;
    background-color: #19A7CE;
}
div .element{
    height: 100px;
    width: 100px;
    flex-basis: 28%;
    margin: 0 10px;
    font-size: 460%;
    padding: 0;
    font-weight: bolder;
    background-color: #8EA7E9;
    cursor: pointer;
}
#header{
    color: black;
    text-align: center;
    margin: 50px;
}
#play{
    cursor: pointer;
    background-color: #8EA7E9;
    margin: auto;
    margin-top: 50px;
    visibility: hidden;
    height: 50px;
    border: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
}
.cont{
    position: relative;
}